
footer {
    width:100%;
    margin-top:0.5rem;
    margin-bottom:2rem;
}

.footer-contact {
    height:200px;

    & h2, h5 {margin-bottom:1.5rem;}

}

.copyright-text {
    float:left;
    margin-left:20px;
}