


.header{ /* this is a flex container*/
    height: 69px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    background-color: $color-background-primary;
    border-bottom: 1px solid $color-text-primary;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
    align-items: center;
}

// this is the logo on the top header
.logo{ /* this is a flex item*/
    flex: 1;
    margin-left:10px;

    & img{
        max-height:50px;
        height:50px;
    }
}
