
.teaOfTheMonth { /*this is a flex-container*/
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tea-header {/*this is a flex-item*/
    margin:10px;
    
    & h2 {margin-top:$margin-small;}

    & h4 {margin-top:10px;}
}

.tea-cozyImages { /*this is a flex container and a flex-item*/
    width:1000px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    align-items: center;
    align-content:space-around;

    &--image { /*this is a flex-item*/
        padding:5px;
        flex:1 1;
        max-width:333.33px; //so the last two children have same space between them as the first row.
    }

    &--image img {
        height:200px;
        width:300px;
        margin:10px;
    }
}

