*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: Helvetica, sans-serif;
    background-color: $color-background-primary;
    color:$color-text-primary;
    opacity:0.9;
    text-align: center;

    // This defines what 1rem is
    font-size: 137.5%; //1 rem = 10px; 22px/16px = 137.5%

}





